<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../style/product.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>OSF STORE - <%=product[0].page_title%></title>
  </head>
  <body>
    <!--- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">OSF STORE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                My Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li id="signinLi">
                  <a class="dropdown-item" href="/signin">Sign in</a>
                </li>
                <li id="signupLi">
                  <a class="dropdown-item" href="/signup">Sign Up</a>
                </li>
                <li id="profileLi">
                  <a class="dropdown-item" href="/profile">My Profile</a>
                </li>
                <li id="cartLi">
                  <a class="dropdown-item" id="userCart">Cart</a>
                </li>
                <li id="wishlistLi">
                  <a class="dropdown-item" href="/wishlist">Wishlist</a>
                </li>
                <li id="signoutLi"><a class="dropdown-item">Sign Out</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a
            id="parent_category"
            href="/products_on_category/<%=product[0].primary_category_id%>"
          ></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%=product[0].name%>
        </li>
      </ol>
    </nav>

    <!--- product info -->

    <div id="<%=product[0].id%>" class="product-info">
      <img
        class="product-img"
        src="../images/<%=product[0].image_groups[0].images[0].link%>"
      />
      <div class="info">
        <h3><%=product[0].name%></h3>
        <div style="display: flex;">
          <p>$</p>
          <p id="price"><%=parseFloat(product[0].price).toFixed(2)%></p>
        </div>
        <div class="quantity-container">
          <p>Quantity</p>
          <i class="fas fa-minus"></i>
          <p class="quantity">1</p>
          <i class="fas fa-plus"></i>
        </div>
        <h5>Product Variants</h5>
        <div class="variants-container">
          <div id="colors">
            <p>Color:</p>
            <select name="Color" id="color">
              <%for(var i = 0; i < product[0].variation_attributes.length;
              i++){%> <%for(var j = 0; j <
              product[0].variation_attributes[i].values.length; j++){%>
              <%if(product[0].variation_attributes[i].id == "color"){%>
              <option
                value="<%=product[0].variation_attributes[i].values[j].value%>"
              >
                <%=product[0].variation_attributes[i].values[j].name%>
              </option>
              <%}%> <%}%> <%}%>
            </select>
          </div>
          <div id="sizes">
            <p>Size:</p>
            <select name="Size" id="size">
              <%for(var i = 0; i < product[0].variation_attributes.length;
              i++){%> <%for(var j = 0; j <
              product[0].variation_attributes[i].values.length; j++){%>
              <%if(product[0].variation_attributes[i].name == "Size" ||
              product[0].variation_attributes[i].name == "size"){%>
              <option
                value="<%=product[0].variation_attributes[i].values[j].value%>"
              >
                <%=product[0].variation_attributes[i].values[j].name%>
              </option>
              <%}%> <%}%> <%}%>
            </select>
          </div>
          <div id="widths">
            <p>Width:</p>
            <select name="Width" id="width">
              <%for(var i = 0; i < product[0].variation_attributes.length;
              i++){%> <%for(var j = 0; j <
              product[0].variation_attributes[i].values.length; j++){%>
              <%if(product[0].variation_attributes[i].id == "width"){%>
              <option
                value="<%=product[0].variation_attributes[i].values[j].value%>"
              >
                <%=product[0].variation_attributes[i].values[j].name%>
              </option>
              <%}%> <%}%> <%}%>
            </select>
          </div>
        </div>
        <div id="wishlistBtn" class="btn">Add to Wishlist</div>
        <div id="cartBtn" class="btn">Add to Cart</div>
        <div id="buyBtn" class="btn">Buy Now</div>
        <div class="product-description">
          <h5>Description</h5>
          <small> <%=product[0].short_description%> </small>
          <%if(product[0].c_tabDetails){%>
          <h5>Details</h5>
          <small> <%=product[0].c_tabDetails%> </small>
          <%}%>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/product.js"></script>
    <script src="../scripts/auth.js"></script>
    <script>
      const variants = <%- JSON.stringify(product[0].variants) %>;
      $("#cartBtn").click(async function () {
        if (sessionStorage.getItem("token")) {
          const productId = $(".product-info").attr("id");
          var color;
          var size;
          var width;
          const quantity = $(".quantity").html().trim();
          var variantId;

          if($('#color').children('option').length == 0){
            color = "empty";
          } else color = $("#color").find(":selected").val().trim();

          if($('#size').children('option').length == 0){
            size = "empty";
          } else size = $("#size").find(":selected").val().trim();

          if($('#width').children('option').length == 0){
            width = "empty";
          } else width = $("#width").find(":selected").val().trim();

          if(size == "empty" && width == "empty" && color != "empty"){
            for (var i = 0; i < variants.length; i++) {
              if (variants[i].variation_values.color == color) {
                variantId = variants[i].product_id;
              }
            }
          }else if(width == "empty" && width == "empty"
          && size != "empty" && color != "empty"){
            for (var i = 0; i < variants.length; i++) {
              if (variants[i].variation_values.color == color &&
                variants[i].variation_values.size == size ||
                variants[i].variation_values.accessorySize == size) {
                  variantId = variants[i].product_id;
              }
            }
          } else if(color == "empty" && width == "empty" && size != "empty"){
            for (var i = 0; i < variants.length; i++) {
              if ((variants[i].variation_values.size == size||
              variants[i].variation_values.accessorySize == size)) {
                variantId = variants[i].product_id;
              }
            }
          }else {
            for (var i = 0; i < variants.length; i++) {
              if (variants[i].variation_values.color == color &&
                variants[i].variation_values.width == width &&
                variants[i].variation_values.size == size
                || variants[i].variation_values.accessorySize == size) {
                  variantId = variants[i].product_id;
              }
            }
          }

          const response = await fetch("/cart/addItem", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            token: sessionStorage.getItem("token"),
          },
          body: JSON.stringify({
            productId: productId,
            variantId: variantId,
            quantity: 1,
          }),
        });

        const data = await response.json();
        if (data.items) {
          window.alert("Item added to cart");
        } else window.alert(data.error);
      } else window.location.href = "/signin";
      });

      $("#buyBtn").click(async function () {
        if (sessionStorage.getItem("token")) {
          const _id = <%- JSON.stringify(product[0]._id) %>;
          const productId = $(".product-info").attr("id");
          var address = "tttttt";
          var items = [];
          const token = JSON.stringify(sessionStorage.getItem("token"));
          var color;
          var size;
          var width;
          const quantity = $(".quantity").html().trim();

          if($('#color').children('option').length == 0){
            color = "empty";
          } else color = $("#color").find(":selected").val().trim();

          if($('#size').children('option').length == 0){
            size = "empty";
          } else size = $("#size").find(":selected").val().trim();

          if($('#width').children('option').length == 0){
            width = "empty";
          } else width = $("#width").find(":selected").val().trim();

          var order = {
            address: address,
            paymentId: "21122",
            items: [],
          };

          if(size == "empty" && width == "empty" && color != "empty"){
            for (var i = 0; i < variants.length; i++) {
              if (variants[i].variation_values.color == color) {
                order.items.push({
                  variant : variants[i],
                  _id : _id,
                  productId : productId,
                  quantity: quantity,
                });
              }
            }
          }else if(width == "empty" && width == "empty"
          && size != "empty" && color != "empty"){
            for (var i = 0; i < variants.length; i++) {
              if (variants[i].variation_values.color == color &&
                variants[i].variation_values.size == size ||
                variants[i].variation_values.accessorySize == size) {
                  order.items.push({
                  variant : variants[i],
                  _id : _id,
                  productId : productId,
                  quantity: quantity,
                });
              }
            }
          } else if(color == "empty" && width == "empty" && size != "empty"){
            for (var i = 0; i < variants.length; i++) {
              if ((variants[i].variation_values.size == size||
              variants[i].variation_values.accessorySize == size)) {
                order.items.push({
                  variant : variants[i],
                  _id : _id,
                  productId : productId,
                  quantity: quantity,
                });
              }
            }
          }else {
            for (var i = 0; i < variants.length; i++) {
              if (variants[i].variation_values.color == color &&
                variants[i].variation_values.width == width &&
                variants[i].variation_values.size == size
                || variants[i].variation_values.accessorySize == size) {
                  order.items.push({
                  variant : variants[i],
                  _id : _id,
                  productId : productId,
                  quantity: quantity,
                });
              }
            }
          }
          const amount = parseFloat($("#price").html().trim()) * parseFloat($(".quantity").html().trim());
          window.location.href = `/checkout?amount=${amount}&items=${encodeURIComponent(JSON.stringify(order.items))}&token=${token}`;
        } else window.location.href = "/signin";
      });
    </script>
    <script src="../scripts/search.js"></script>
  </body>
</html>
